<div class="col-sm-2">
</div>
<div class="col-sm-10">
  <h><i class="fa fa-archive"></i> Cadastros</h>
  <div class="panel">
    <div class="row">
      <div class="box-dashbord">
        <div class="box-dashbord-title">
          <i class="fa fa-exclamation-circle"></i>
           Total de Notificações
        </div>
        <hr>
        <div class="box-dashbord-number">30</div>
        <hr>
        <div class="box-dashbord-description">
          <table class="table table-striped">
            <tr>
              <td>Abertos:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Aguardando Fiscal:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Notificados:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Autuados:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Arquivados:</td>
              <td> 20</td>
            </tr>
          </table>
        </div>
        <button type="button" name="button" class="btn btn-primary">
          <i class="fa fa-plus-circle"></i>
          Cadastrar Notificação
        </button>
      </div>
      <div class="box-dashbord">
        <div class="box-dashbord-title">
          <i class="fa fa-users"></i>
          Total de Usuários
        </div>
        <hr>
        <div class="box-dashbord-number">40</div>
        <hr>
        <div class="box-dashbord-description">
          <table class="table table-striped">
            <tr>
              <td>Abertos:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Aguardando Fiscal:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Notificados:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Autuados:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Arquivados:</td>
              <td> 20</td>
            </tr>
          </table>
        </div>
        <button type="button" name="button" class="btn btn-primary">
          <i class="fa fa-plus-circle"></i>
          Cadastrar Usuário
        </button>
      </div>

      <div class="box-dashbord">
        <div class="box-dashbord-title">
          <i class="fa fa-legal"></i>
          Total de Leis
        </div>
        <hr>
        <div class="box-dashbord-number">20</div>
        <hr>
        <div class="box-dashbord-description">
          <table class="table table-striped">
            <tr>
              <td>Abertos:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Aguardando Fiscal:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Notificados:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Autuados:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Arquivados:</td>
              <td> 20</td>
            </tr>
          </table>
        </div>
        <button type="button" name="button" class="btn btn-primary">
          <i class="fa fa-plus-circle"></i>
          Cadastrar Lei
        </button>
      </div>

      <div class="box-dashbord">
        <div class="box-dashbord-title">
          <i class="fa fa-home"></i>
          Total de Unidades
        </div>
        <hr>
        <div class="box-dashbord-number">30</div>
        <hr>
        <div class="box-dashbord-description">
          <table class="table table-striped">
            <tr>
              <td>Abertos:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Aguardando Fiscal:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Notificados:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Autuados:</td>
              <td> 20</td>
            </tr>
            <tr>
              <td>Arquivados:</td>
              <td> 20</td>
            </tr>
          </table>
        </div>
        <button type="button" name="button" class="btn btn-primary">
          <i class="fa fa-plus-circle"></i>
          Cadastrar Unidade
        </button>
      </div>
    </div>
  </div>
</div>
