<div class="container">
  <div class="block-header">
    <h2>Dashboard</h2>

    <ul class="actions">
      <li>
        <a href="">
          <i class="zmdi zmdi-trending-up"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="zmdi zmdi-check-all"></i>
        </a>
      </li>
      <li class="dropdown">
        <a href="" data-toggle="dropdown">
          <i class="zmdi zmdi-more-vert"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="">Refresh</a>
          </li>
          <li>
            <a href="">Manage Widgets</a>
          </li>
          <li>
            <a href="">Widgets Settings</a>
          </li>
        </ul>
      </li>
    </ul>

  </div>

  <div class="row">
    <div class="col-md-9 col-sm-3">

      <div class="card">
        <div class="card-header">
          <h2>Sales Statistics <small>Vestibulum purus quam scelerisque, mollis nonummy metus</small></h2>

          <ul class="actions">
            <li>
              <a href="">
                <i class="zmdi zmdi-refresh-alt"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="zmdi zmdi-download"></i>
              </a>
            </li>
            <li class="dropdown">
              <a href="" data-toggle="dropdown">
                <i class="zmdi zmdi-more-vert"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a href="">Change Date Range</a>
                </li>
                <li>
                  <a href="">Change Graph Type</a>
                </li>
                <li>
                  <a href="">Other Settings</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

        <%= area_chart Infraction.group_by_day(:created_at).count, height: "290px" %>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div id="site-visits" class="dash-widget-item bgm-teal">
        <div class="dash-widget-header">
          <div class="p-20">
            <div class="dash-widget-visits"><canvas width="223" height="95" style="display: inline-block; width: 223px; height: 95px; vertical-align: top;"></canvas></div>
          </div>

          <div class="dash-widget-title">For the past 30 days</div>

          <ul class="actions actions-alt">
            <li class="dropdown">
              <a href="" data-toggle="dropdown" aria-expanded="false">
                <i class="zmdi zmdi-more-vert"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a href="">Refresh</a>
                </li>
                <li>
                  <a href="">Manage Widgets</a>
                </li>
                <li>
                  <a href="">Widgets Settings</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="p-20">

          <small>Page Views</small>
          <h3 class="m-0 f-400">47,896,536</h3>

          <br>

          <small>Site Visitors</small>
          <h3 class="m-0 f-400">24,456,799</h3>

          <br>

          <small>Total Clicks</small>
          <h3 class="m-0 f-400">13,965</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6 col-md-3">
      <div class="mini-charts-item bgm-cyan">
        <div class="clearfix">
          <div class="chart stats-bar">

          </div>
          <div class="count">
            <small>Website Traffics</small>
            <h2>987,459</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="mini-charts-item bgm-cyan">
        <div class="clearfix">
          <div class="chart stats-bar">

          </div>
          <div class="count">
            <small>Website Traffics</small>
            <h2>987,459</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="mini-charts-item bgm-cyan">
        <div class="clearfix">
          <div class="chart stats-bar">

          </div>
          <div class="count">
            <small>Website Traffics</small>
            <h2>987,459</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="mini-charts-item bgm-cyan">
        <div class="clearfix">
          <div class="chart stats-bar">

          </div>
          <div class="count">
            <small>Website Traffics</small>
            <h2>987,459</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
