<h>Fiscalização</h>
<div class="panel">
<div class="form-group">
  <form>
   <div class="col-sm-1">
    <label>nº infração
      <input type="text" class="form-control" value="<%= rand(999999) %>">
    </label>
    </div>
  </form>
  </div>
</div>
