    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
          <div class="m-b-25">
            <h1 class="c-teal">AMBIT</h1>
            <p>Gestão do Meio Ambiente</p>
          </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account zmdi-hc-2x"></i></span>
                <div class="fg-line">
                    <%= f.email_field :email, autofocus: true, placeholder: "ex: joao@silva.com.br", class: "form-control" %>
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-lock zmdi-hc-2x"></i></span>
                <div class="fg-line">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Digite sua senha", class: "form-control" %>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Mantenha-me Conecrado.
                </label>
            </div>
            <a href="javascript:{}" onclick="document.getElementById('new_user').submit(); return false;" class="btn btn-login btn-danger btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-arrow-forward"></i></a>
        </div>
  <% end %>
