<div class="block-header">
  <h2>
    <a href="/laws" title="voltar">
      <i class="zmdi zmdi-long-arrow-left zmdi-hc-lg"></i>
    </a> Cadastros de Leis
  </h2>
</div>

<div class="card">
  <div class="card-body card-padding">
    <%= render 'form_new' %>
  </div>
</div>
