<!DOCTYPE html>
<html>
<head>
  <title>Ambit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body>
  <header id="header" class="bgm-teal">
    <ul class="header-inner">
      <li id="menu-trigger" data-trigger="#sidebar">
        <div class="line-wrap">
          <div class="line top"></div>
          <div class="line center"></div>
          <div class="line bottom"></div>
        </div>
      </li>

      <!-- <li class="logo hidden-xs m-t--10">
        <a href="index.html">
          <img src="../../assets/img/logo_topo.png" style="max-height: 45px;">
        </a>
      </li> -->

      <li class="pull-right">
        <ul class="top-menu">
          <li class="navbar-text c-white m-r-0" style="margin-top: 1px;">
            Bem vindo <strong>Fulano de Tal</strong><br>
            Código de hoje: <strong>123456</strong>
          </li>

          <li class="navbar-text m-t-7">
            <i class="zmdi zmdi-headset-mic zmdi-hc-2x c-white"></i>
          </li>

          <li class="dropdown">
            <a data-toggle="dropdown" class="tm-settings" href=""></a>
            <ul class="dropdown-menu dm-icon pull-right">
              <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Configurações</a>
              </li>

              <li>
                <a href="../login.html"><i class="zmdi zmdi-power-off"></i> Sair</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </header>
  <section id="main">

  <section class="content">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
  </section>
</section>
<footer id="footer">
        Copyright © 2015 Secretária do meio ambiente
    </footer>

</body>
</html>
