<!DOCTYPE html>
<html>
<head>
  <title>Ambit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div id="page-login" class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="box">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
